<html>
    <head>
        <meta charset="UTF-8">
        <title> Home page </title>
    </head>
    <body>
        {{session.username}}
        <form action = "/fileupload" method = "post" enctype="multipart/form-data">   
            <input type="file" name="file" />   
            <input type = "submit" value="Upload">   
        </form> 
        <a href="{{ url_for('log_out') }}">Log Out</a>
        <a href="{{ url_for('create_user') }}">Create User</a>
        <a href="{{ url_for('delete_user') }}">Delete User</a>
        <a href="{{ url_for('get_user') }}">Get User</a>
    </body>
</html>